<p id="notice"><%= notice %></p>

<h1>Listing Catalogs Siteviews</h1>

<table>
  <thead>
    <tr>
      <th>Contract</th>
      <th>Visit date</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalogs_siteviews.each do |catalogs_siteview| %>
      <tr>
        <td><%= catalogs_siteview.contract_id %></td>
        <td><%= catalogs_siteview.visit_date %></td>
        <td><%= catalogs_siteview.completed %></td>
        <td><%= link_to 'Show', catalogs_siteview %></td>
        <td><%= link_to 'Edit', edit_catalogs_siteview_path(catalogs_siteview) %></td>
        <td><%= link_to 'Destroy', catalogs_siteview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Siteview', new_catalogs_siteview_path %>
